quarkus:
  datasource:
    db-kind: postgresql
    username: postgres
    password: postgres
    jdbc:
      url: jdbc:postgresql://localhost:5432/paypulse

  hibernate-orm:
    database:
      generation: update
    log:
      sql: true
