# Default ignored files
/shelf/
/workspace.xml

# Maven
target/
*.log

# IDE
*.iml
.idea/
.vscode/

# MacOS
.DS_Store

# Compiled Java files
*.jar
*.war
*.ear

# XML files (if you want to ignore ALL of them)
*.xml

# List and Log files
*.lst